@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$white: #FFFFFF;
$black: #070724;
$gray: #38384F;
$lightgray: #838391;