@use './config' as *;

body {
  background-color: $black;
  color: $lightgray;

}

h1 {
  font-family: 'Antonio', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  color: $white;
}

p {
  font-family: 'League Spartan', sans-serif;
  line-height: 1.5;
  margin-block: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2rem;
  height: 10vh;
}

.logo {
  width: 20%;
  font-family: 'Antonio', sans-serif;
  font-size: 1.5rem;
}

nav {
  width: 60%;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;

  a {
  text-decoration: none;
  color: $lightgray;
  font-family: 'Antonio', sans-serif;
  }
}

main {
  height: 70vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 'img text'
                        'img btns';

  img {
    grid-area: img;
    justify-self: center;
    max-width: 400px;
  }
}

.info {
  grid-area: text;
  padding-inline: 20%;
}

.buttons {
  grid-area: btns;
  padding-inline: 20%;
  display: block;
}

button {
  width: 100%;
  background-color: transparent;
  border: 2px solid $gray;
  color: $lightgray;
  text-align: center;
  text-transform: uppercase;
  padding-block: .5rem;
  margin-block: .25rem
}

#source {
  color: $gray;
  text-decoration: none;
}

.wikipedia {
  font-weight: bold;
  text-decoration: underline;
  color: $lightgray;
}


footer {
  height: 20vh;
  display: flex;
  margin-inline: 5%;
  justify-content: space-between;
  align-items: center;
}

.xtics {
  text-transform: uppercase;
  font-family: 'Antonio', sans-serif;
  font-weight: bold;

  &-detail {
    font-size: 2rem;
    color: $white;
  }
}