@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070724;
  color: #838391;
}

h1 {
  font-family: "Antonio", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  color: #FFFFFF;
}

p {
  font-family: "League Spartan", sans-serif;
  line-height: 1.5;
  margin-block: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2rem;
  height: 10vh;
}

.logo {
  width: 20%;
  font-family: "Antonio", sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
}

nav {
  width: 60%;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: #838391;
  font-family: "Antonio", sans-serif;
  transition: all 0.25s ease-out;
}
li a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 5px;
  border-radius: 100px;
}
li a:hover, li a[href="#"] {
  color: #FFFFFF;
  cursor: pointer;
}

main {
  height: 70vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img text" "img btns";
}
main img {
  grid-area: img;
  justify-self: center;
  max-width: 400px;
}

.info {
  grid-area: text;
  padding-inline: 20%;
}

.buttons {
  grid-area: btns;
  padding-inline: 20%;
  display: block;
}

button {
  width: 100%;
  background-color: transparent;
  border: 2px solid #38384F;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  padding-block: 0.7rem;
  margin-block: 0.25rem;
  border-radius: 5px;
  transition: all 0.25s ease-out;
}
button:hover {
  background-color: #838391;
}

#source {
  color: #38384F;
  text-decoration: none;
}

.wikipedia {
  font-weight: bold;
  text-decoration: underline;
  color: #838391;
}

footer {
  height: 20vh;
  display: flex;
  margin-inline: 5%;
  justify-content: space-between;
  align-items: center;
}

.xtics {
  text-transform: uppercase;
  font-family: "Antonio", sans-serif;
  font-weight: bold;
}
.xtics-detail {
  font-size: 2rem;
  color: #FFFFFF;
}

#mercury a:hover::before {
  background-color: #419EBB;
}
#mercury button.active {
  background-color: #419EBB;
}

#venus a:hover::before {
  background-color: #EDA249;
}
#venus button.active {
  background-color: #EDA249;
}

#earth a:hover::before {
  background-color: #6F2ED6;
}
#earth button.active {
  background-color: #6F2ED6;
}

#mars a:hover::before {
  background-color: #D14C32;
}
#mars button.active {
  background-color: #D14C32;
}

#jupiter a:hover::before {
  background-color: #D83A34;
}
#jupiter button.active {
  background-color: #D83A34;
}

#saturn a:hover::before {
  background-color: #CD5120;
}
#saturn button.active {
  background-color: #CD5120;
}

#uranus a:hover::before {
  background-color: #1EC2A4;
}
#uranus button.active {
  background-color: #1EC2A4;
}

#neptune a:hover::before {
  background-color: #419EBB;
}
#neptune button.active {
  background-color: #2D68F0;
}